body {
    background-color: #e5e5df
}

.container {
    max-width: 400;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #141313;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #f1f2f4;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #05731d;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* Hide the up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* styles.css */

/* Select the labels by their 'for' attribute */
label[for="rep1"],
label[for="rep2"],
label[for="rep3"] {
  font-size: 1.5em; /* Adjust the font size as needed */
}

/* styles.css */

body {
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    font-family: 'Roboto Condensed', sans-serif; 
    text-align:center
  }
  
  /* styles.css */
#company-logo {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
  }

  /* styles.css */
#company-logo {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  