.container {
    max-width: 400;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #141313;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #f1f2f4;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* Hide the up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
